# Blob Detector Project Gitignore

# Exclude all files, then include in only the required ones
*

# Allow for files nested within directories
!*/

# Allow for C/C++ and header files
!*.c
!*.cpp
!*.h

# Allow for MATLAB script files
!*.m

# Allow for shell and python scripts
!*.sh
!*.py

# Allow for Makefiles
!Makefile
!*.mk

# Allow for Latex files and powerpoints
!*.tex
!*.pptx

# Allow for gitignore files
!.gitignore

